@using C1.Web.Mvc.Fluent
@model IEnumerable<OBFOCUS.UI.Models.NavigationViewModel>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OBFOCUS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.C1().Styles()
    @Html.C1().Scripts().Basic()
</head>
<body>
    @(Html.C1().TreeView().Id("tv").Bind(Model)
                        .DisplayMemberPath("Header")
                        .ChildItemsPath("Items"))
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OBFOCUS</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
